@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-h: 240;
    --primary-s: 71%;
    --primary-l: 100%;
    --bg-color: hsl(0, 0%, 10%);
    --text-color: hsl(0, 0%, 50%);;
    --border-color: hsl(0, 0%, 10%);
    --form-bg-color: hsl(0, 0%, 6%);
    --theme-bg-color: hsl(0,100%,100%);
    --theme-dot-color: hsl(0, 0%, 50%);
    --primary-color: #6B6BFF;
    --success-color: green;
    --light-color: hsl(0,100%,100%);
    --neutral-color: hsl(0, 0%, 50%);
    --warning-color: hsl(9, 100%, 64%);
    --base-font-size: 1.6rem;
    --font-size-xs: 1.1rem;
    --font-size-sm: 1.3rem;
    --font-size-md: 1.8rem;
    --font-size-lg: 2.4rem;
    --font-size-xl: 3.2rem;
}

.theme-2 {
    --bg-color: hsl(0, 0%, 90%);
    --text-color: hsl(0, 0%, 50%);;
    --border-color: hsl(0, 0%, 85%);
    --form-bg-color: #fff;
    --theme-bg-color: hsl(0,0%,50%);
    --theme-dot-color: hsl(0, 0%, 100%);
}

.theme-3 {
    --bg-color: hsl(88, 79%, 94%);
    --text-color: hsl(0, 0%, 50%);;
    --border-color: hsl(88, 79%, 90%);
    --form-bg-color: #fff;
}

$breakpoint: 800px;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: var(--base-font-size);
    overflow-x: hidden;
    color: var(--text-color);
    background-color: var(--bg-color);
}

.preload * {
    transition: none !important;
}

.container {
    position: relative;
    width: clamp(320px, 30%, 460px);
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.theme {
    position: absolute;
    top: 4.8rem;
    right: 0;
    height: 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    p {
        text-transform: uppercase;
        font-size: 1.3rem;
        margin-right: 1.5rem;
        margin-bottom: .8rem;
        color: currentColor;
    }

    .labels,
    .inputs {
        padding: .8rem 1.2rem;
        display: flex;
        gap: .8rem;
        justify-content: space-between;
    }

    .labels {
        label {
            width: 1.6rem;
            height: 1.6rem;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .inputs {
        border-radius: 100vh;
        background-color: var(--theme-bg-color);


        input {
            width: 1.6rem;
            height: 1.6rem;
            background-color: var(--theme-dot-color);
            border-radius: 100%;
            appearance: none;
            visibility: hidden;
            opacity: 0;
            transition: opacity .3s ease-in-out;
            
            &:checked {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

fieldset {
    margin: 3.2rem 0;
    padding: 1.6rem;
    border: 1px dotted var(--border-color);
}

legend {
    font-size: var(--font-size-md);
    letter-spacing: 1px;
}

label {
    display: block;
    margin-bottom: .5rem;
    font-size: var(--font-sm);
    color: var(--text-color);
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: .8rem 1.6rem;
    border: 1px solid var(--border-color);
}

button {
    cursor: pointer;
}

hr {
    border: 0;
}

.display {
    &--none {
        display: none !important;
    }

    &--block {
        display: block !important;
    }

    &--inline-flex {
        display: inline-flex !important;
    }
}   

.btn {
    width: 100%;
    padding: 1.2rem 1.6rem;
    font-size: var(--base-font-size);
    color: var(--light-color);
    background-color: hsl(var(--primary-h), var(--primary-l), var(--primary-s));
    border: 0;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;

    &--success {
        background-color: var(--success-color);
    }

    &:hover {
        --primary-l: 80%;
    }
}

.buttons {
    display: flex;
    gap: 1.6rem;
    justify-content: space-between;
}

.icon {
    display: inline-flex;
    gap: 1.6rem;
    align-items: center;
    fill: currentColor;
}

.multistep {
    &__step {

        transform-origin: top;
        animation: animate .5s;
        &--active {
            display: block !important;
        }
    }

    &__progressbar {
        position: relative;
        margin: 3.2rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:before {
            content: '';

        }
        
        &:before,
        &__line {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 100%;
            height: 3px;
            background-color: var(--light-color);
            z-index: 1;
            transition: 0.3s;
        }

        &__line {
            width: 0;
            background-color: var(--primary-color);
        }

        &__step {
            position: relative;
            z-index: 3;
            display: block;
            width: 32px;
            height: 32px;
            background-color: var(--light-color);
            border-radius: 50%;
            transition: background .3s;

            display: flex;
            justify-content: center;
            align-items: center;
    
            &--active {
                color: var(--light-color);
                background-color: var(--primary-color);
            }
        }        
    }

    &__button-next,
    &__button-prev {
        display: none;

        &--active {
            display: block !important;
        }
    }
    
}


.form {
    width: 100%;
    padding: 3.2rem;
    margin-bottom: 3.2rem;
    background-color: var(--form-bg-color);
    border: 1px solid var(--border-color);
    box-shadow: 0px 0 4px 2px rgba(0,0,0,.1);

    &__title {
        position: relative;
        padding-left: 5.8rem;
        font-size: var(--font-size-lg);
        margin-bottom: 6.4rem;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 4.2rem;
            height: 1px;
            background-color: var(--primary-color);
        }
    }

    abbr[title="required"] {
        font-size: var(--font-sm);
        color: var(--warning-color);
    }

    &__field {
        margin: 1.6rem 0;

        .message {
            visibility: hidden;
            font-size: var(--font-size-sm);
        }

        &--error {
            .message {
                visibility: visible;
                color: var(--warning-color);
            }
        }
    }
}

@keyframes animate {
    from {
        transform: scale(1, 0);
        opacity: 0;
    } to {
        transform: scale(1, 1);
        opacity: 1;
    }
}

.footer {
    a {
        color: var(--primary-color);
        &:focus,
        &:hover {
            opacity: .7;
        }
    }
}